.header{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vw;
    font-size: 40px;
    background: linear-gradient(to right, black, rgb(145, 45, 45),black); 
    transition: color 0.3s;
}
.header:hover {
    color: black; 
}

.container{
    background: linear-gradient(to top, rgb(53, 51, 51), rgb(68, 7, 7),black);
    min-height: 100vh;
}
