<div class="detail-container">
  <div class="basic-info-container">
    <ul class="basic-info">
      <li>Name: <br>  {{ superHero?.name }}</li>
      <li>First Name: <br> {{ superHero?.firstName }}</li>
      <li>Last Name: <br> {{ superHero?.lastName }}</li>
      <li>Place: <br> {{ superHero?.place }}</li>
    </ul>
    <div class="description">
      {{ superHero?.description }}
    </div>
  </div>
  <div class="image-container">
    <img src="{{ superHero?.image }}" alt="" />
  </div>
</div>
